.page-bg {
  background-color: #00204a;
  padding: 0 5%;
  width: 100%;
}

.intro-text {
  font-family: 'Abel', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  color: #aeefec;
  text-align: left;
  padding: 0 15%;
}

.intro-h1 {
  margin-top: 13%;
}

.intro-h1-2 {
  margin-top: 11.5%;
}

.intro-h1-3 {
  margin-top: 9%;
}

.profile {
  border-radius: 25%;
  width: 25%;
  margin: 5% 10%;
  float: left;
}

.profile2 {
  border-radius: 20%;
  width: 25%;
  margin: 5% 10%;
  float: left;
}

.profile3 {
  border-radius: 25%;
  width: 30%;
  margin: 5% 10%;
  float: left;
}

.navigation-features {
  color: #aeefec;
  font-family: 'Abel', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  text-align: right;
  font-size: 1.5rem;
}

.navbar {
  background-color: #00204a;
}

.logo {
  width: 30%;
}

body {
  background-color: #00204a;
}

.contact {
  color: #aeefec;
  font-family: 'Abel', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  text-align: left;
  font-size: 2rem;
}

.contact-icon {
  color: #aeefec;
  margin: 0.5rem 0.5rem;
  padding-right: 10px;
}

.toggle-icon {
  color: #aeefec;
  margin-left: 92%;
}

.fa-linkedin {
  margin-left: 60%;
}

.navbar {
  padding: 0 0;
}

.text {
  font-family: 'Abel', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  color: #aeefec;
  text-align: center;
  margin-left: 10%;
  margin-top: 3%;
}

.work-description {
  font-family: 'Abel', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  color: #aeefec;
  text-align: center;
  /* margin-left: 10%; */
  margin-top: 3%;
}

.text-small {
  font-family: 'Abel', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  color: #aeefec;
  text-align: left;
  margin-left: 10%;
}

.pic {
  width: 30%;
}

.certs {
  margin-left: 10%;
}

.certificates {
  padding-bottom: 5%;
}

.col-lg-12 {
  padding-left: 0;
}

.card {
  background: #145374;
  color: #aeefec;
  border-color: #aeefec;
  margin-bottom: 2%;
}

.btn {
  color: #aeefec;
  border-color: #aeefec;
}

.btn:hover {
  color: #f6f5f5;
  border-color: #f6f5f5;
}

.row-work {
  height: 200px;
  background: #145374;
  text-align: center;
  padding-top: 2%;
  border: 0 0;
}


.col-lg-4 {
  border: 0;
}

.row {
border: 0;


}

.fa-5x {
  color: #aeefec;
}

.btn-work {
  margin-top: 15px;
}

.work-link:hover {
  color: white;
}

@media only screen and (max-width: 990px) {
  h6 {
    font-size: 120%;
    font-style: italic;
  }

  h3 {
    font-size: 200%;
  }

  .pic {
    width: 70%;
  }

  .logo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .certs {
    margin-left: 6%;
  }

  .profile {
    border-radius: 25%;
    width: 60%;
    margin: 5% 20%;
  }

  .profile2 {
    border-radius: 20%;
    width: 60%;
    margin: 5% 20%;
  }

  .profile3 {
    border-radius: 25%;
    width: 60%;
    margin: 5% 20%;
  }

  .intro-text {
    text-align: center;
  }

  .button {
    margin-right: 10%;
  }

  #navbarNavAltMarkup {
    margin-right: 10%;
  }

  .contact-icon {
    margin-left: 92%;
  }

  .toggle-icon {
    margin-left: 20%;
  }

  .carousel-indicators {
    visibility: hidden;
  }

  .wave {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .card {
    margin-left: auto;
    margin-right: auto;
  }

  .work-description {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 991px) {
  .fa-linkedin {
    margin-left: 5%;
  }

  .wave {
    width: 100%;
  }

  .carousel {
    padding-top: 10%;
  }
}

@media only screen and (min-width: 1440px) {
  .navigation-features {
    font-size: 2rem;
    margin-right: 0;
  }

  .carousel {
    padding-top: 11%;
  }

  .fa-envelope {
    padding-right: 10%;
  }

  .fa-linkedin {
    margin-left: 30px;
  }

  .intro-text {
    font-size: 30px;
  }

  .intro-h1 {
    font-size: 50px;
    margin-top: 7%;
  }

  .intro-h1-2 {
    font-size: 50px;
    margin-top: 8%;
  }

  .intro-h1-3 {
    font-size: 50px;
    margin-top: 6%;
  }

  .wave {
    margin-left: auto;
    margin-right: auto;
    width: 130%;
  }

  .row-projects {
    margin-left: 50px;
  }
}
